---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main transition:animate="slide">
    <p>This is Index page</p>
  </main>
</Layout>
